comet_ml
coremltools
GitPython
ipython
matplotlib
mss
numpy
openvino
pafy
pandas
Pillow
psutil
pycocotools
PyYAML
Requests
scipy
seaborn
tensorflow
thop
tqdm
tritonclient
x2paddle
